body {
    background-color: lightcoral;
}
h1 {
    font-family: sans-serif;
    margin: 2px;
    padding: 3px;
    font-size: 20px;
}
hr {
    width: 6%;
    margin-left: 8px;
    height: 4px;
    background: black;
}

div {
    position: relative;
    padding:0px;
    margin: 0px;
    height: 230px;
}

section {
    display: inline-block;
    position: relative;
    padding: 5;
    margin: 1px;
}

img{
    top: 10px;
    bottom: 10px;
    position: relative;
    width: 200px;
    height: 200px;
    padding: 8px;  
}
h5 {
    font-family: sans-serif;
    color: white;
    position: relative;
    bottom: 60px;
    left: 100px;
    
}